body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(74, 161, 219, 0.089);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  padding: 8px 15px;
  margin-bottom: 15px;
  box-shadow: 0.0em 0.1em 0.1em -0.1em rgba(54, 86, 192, 0.699);
}