
.user-page-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(74, 161, 219, 0.089);
    height: calc(100vh - 80px);
    width: 100vw;
}
.user-page-main-container img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    margin: 0 auto;
    top:100px;
}